p.profiles
  =link_to 'http://twitter.com/TheHoffmann94', target: "_blank"  do
    =image_tag 'twitter.jpg', class: 'social-icon'
  =link_to 'http://instagram.com/willhoffmann94', target: "_blank"  do
    =image_tag 'insta.jpg', class: 'social-icon'